<ion-header>
  <ion-toolbar>
    <ion-title>Google</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    <input type="text" placeholder="Search">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-img src="assets/images/fb.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/images/spotifyy.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/images/twitter.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-img src="assets/images/linkedin.png"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/images/dc.jpg"></ion-img>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-img src="assets/images/ig.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
