ion-col{
    border: 3px solid black;
    border-radius: 10%;
}

ion-icon{
    font-size: 30px;
}
input{
    border-radius: 20px 20px 20px 20px;
    padding: 5px 2px;
    margin: 4px 0;
    width: 85%;
    display: inline-block;
}