<ion-header>
  <ion-toolbar>
    <ion-title>Facebook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" color="secondary" [(ngModel)]="type">
    <ion-segment-button value="News Feed">
      <ion-label>News Feed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Messages">
      <ion-label>Messages</ion-label>
    </ion-segment-button>
  </ion-segment>
 
  <div [ngSwitch]="type">
    <ion-card *ngSwitchCase="">
      <ion-card-header>
        <ion-img src="/assets/images/a.png"></ion-img>
        <ion-card-title>Information Technology</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Do you  want to be a developer? Come and join us!
      </ion-card-content>
      <ion-button color="warning">Like</ion-button>
      <ion-button color="warning">Comment</ion-button>
      <ion-button color="warning">Share</ion-button>
    </ion-card>
  </div>

  <div [ngSwitch]="type">
    <ion-card *ngSwitchCase="'News Feed'">
      <ion-card-header>
        <ion-img src="/assets/images/a.png"></ion-img>
        <ion-card-title>Information Technology</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Do you  want to be a developer? Come and join us!
      </ion-card-content>
      <ion-button color="warning">Like</ion-button>
      <ion-button color="warning">Comment</ion-button>
      <ion-button color="warning">Share</ion-button>
    </ion-card>
  </div>

    <div [ngSwitch]="type">
      <ion-list *ngSwitchCase="'Messages'">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/images/taylor.jpeg">
          </ion-thumbnail>
          <ion-label>
            <h2>Taylor Swift</h2>
            <h3>You guys!!!!</h3>
            <p>...Ready for it?</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/images/ed.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2>Ed Sheeran</h2>
            <h3>No, have bad habits thooo</h3>
            <p>Are you a baddass?</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/images/selena.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2>Selena Gomez</h2>
            <h3>Kill em with kindness :/</h3>
            <p>What can u say bout haters?</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/images/olivia.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2>Olivia Rodrigo</h2>
            <h3>Good 4 u</h3>
            <p>She's my new girlfriend</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img src="/assets/images/conan.jpg">
          </ion-thumbnail>
          <ion-label>
            <h2>Conan Gray</h2>
            <h3>I'm a detective....</h3>
            <p>How do u solve problems?</p>
          </ion-label>
        </ion-item>


      </ion-list>
    </div>
  
</ion-content>
