<ion-content>
    <ion-icon name="logo-facebook"></ion-icon>
        
      <ion-card>
        <ion-card-header>
            <ion-label class="fbtext">Log in</ion-label> 
        </ion-card-header>
      <ion-card-content>
        <ion-item lines="none"><ion-input type="text" placeholder="  Email"></ion-input></ion-item>
        <ion-item lines="none"><ion-input type="password" placeholder="  Password"></ion-input></ion-item>
        <ion-item lines="none">
          <ion-checkbox checked="false" slot="start">
          </ion-checkbox>
          <ion-label>Keep me signed in.</ion-label>
        </ion-item>
        
        <ion-button color="primary" class="login" (click)="login()">
          Login
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-button fill="clear" (click)="signup()">
      Not a user? Create an account now.
    </ion-button>
</ion-content>
