<ion-content>
  <div class="container">
    <ion-icon name="logo-facebook"></ion-icon><br>
    <ion-card color="info">
      <br>
      <ion-label class="text20">Facebook</ion-label><br>
      <ion-form>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
      </ion-form>
      <div class="text30">
        <ion-button  color="primary" (click)="login()">
          Login
        </ion-button>
        <br><br>
      </div>
    </ion-card>
  </div>
</ion-content>
