<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="Google">
      <ion-icon name="logo-google"></ion-icon>
      <icon-label>Google</icon-label>
    </ion-tab-button>

    <ion-tab-button tab="Facebook">
      <ion-icon name="logo-facebook"></ion-icon>
      <icon-label>Facebook</icon-label>
    </ion-tab-button>

    <ion-tab-button tab="Twitter">
      <ion-icon name="logo-twitter"></ion-icon>
      <icon-label>Twitter</icon-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>